<p id="notice"><%= notice %></p>

<div class="row justify-content-center">
	<div class="col-9">
		<h4 class="text-center"> 
			В данном разделе Вы можете скачать свой сертификат по номеру, присвоенному Вашей заявке. Документы изготавливаются в течение 24-х часов после заказа и хранятся 30 дней. Если Ваш сертификат по какой-то причине не доступен для скачивания, напишите нам на info@sferaped.ru
		</h4> <!--Тестирование для педагогов, учителей, воспитателей, психологов, логопедов, дефектологов, методистов и других представителей сферы образования -->
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6 border text-center mt-4 p-5">
		<%= form_tag statements_path, :method => 'get', :id => "statement_check", class: "form-group check-form" do %>
				<span><b>Пожалуйста, введите номер, присвоенный Вашей заявке</b></span>
				<div class="form-group mt-3">
					<%= number_field_tag :check_id, params[:check_id], class: "form-control" %>
				</div>
				<div class="form-group">
					<%= submit_tag "Проверить", class: "btn btn-primary" %>
				</div>
		<% end %>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-6 border text-center mt-4 p-5">
		<% if @statement %>
			<% if @statement.paid? %>
						<p>Фамилия: <%= @statement.soname%></p>
						<p>Имя: <%= @statement.name%></p>
						<p>Отчество: <%= @statement.father_name%></p>
						<p>Тест: <%= @statement.test.title%></p>
						<p>Сертификат: <%= @statement.certificate? ? link_to("Скачать", @statement.certificate.url, target: "_blank") : "Истек срок хранения сертификата. Если Вам необходимо его получить вновь, напишите нам на info@sferaped.ru" %></p>
			<% else %>
				<span><b>Если Вы уже сделали заказ, то Ваш сертификат на изготовлении, пожалуйста, ждите. Если Вы еще не заказали документ, перейдите по ссылке: https://sferaped.ru/zakaz/</b></span>
			<% end %>
		<% else %>
			<span><b>Сертификат не найден, пожалуйста, проверьте правильность введенного Вами номера.</b></span>
		<% end %>
	</div>
</div>