<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @statement.email %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @statement.name %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @statement.soname %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @statement.father_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @statement.position %>
</p>

<p>
  <strong>Test:</strong>
  <%= @statement.test %>
</p>

<% if @statement.certificate? %>

<p>
    ЕСТЬ СЕРТИФИКАТ <%= link_to "СКАЧАТЬ", @statement.certificate.url, target: "_blank" %>
</p>
 <% else %>

 <p>
  NOOOOOOOOOOOOO
 </p>

 <% end %>

<%= link_to 'Edit', edit_admin_statement_path(@statement) %> |
<%= link_to 'Back', admin_statements_path %> |
<%= link_to 'Обновить сертификат', update_certificate_admin_statement_path(@statement) %>
